<%= form_for(@policy) do |f| %>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label "od" %><br>
    <%= f.text_field :insurance_started_at %>
  </div>
  <div class="field">
    <%= f.label "do" %><br>
    <%= f.text_field :insurance_finished_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
